<div>
    <div id="videoContainer" class="row">
        <section>
            <table style="width: 100%; ">
                <tr>
                    <td id="local-video-container" style="border: 2px solid #aba7a7;">
                        
                        <h3>Me</h3>
                    </td>
                    <td id="remote-videos-container" style="border: 2px solid #aba7a7;">
                        <h3>
                            Peer(s)
                        </h3>
                    </td>
                </tr>

            </table>
        </section>
    </div>

</div>